.DS_Store
node_modules/
/dist/
*debug.log*
*logerror.log*
/test/unit/coverage/
/test/unit/test-reports/
/test/e2e/reports/
selenium-debug.log
.eslintcache

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
