<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Retirement Party</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link rel="manifest" href="/static/manifest.json">
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/icons/favicon.ico"/>

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="ReParty">
    <meta name="apple-mobile-web-app-title" content="ReParty">
    <meta name="theme-color" content="#039be5">
    <meta name="msapplication-navbutton-color" content="#039be5">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="msapplication-starturl" content="/">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <div id="app"></div>
    <!--TODO use htmlWebpackPlugin to inject the service worker here -->
    <!--<% if (!!htmlWebpackPlugin.options.isBuild) { %> <script src="serviceWorkerLoader.js"/> <% } %>-->
    <!-- built files will be auto injected -->
  </body>

</html>
